<div class="position-relative">
  <div class="section-shaped">
    <div class="home-body">
    </div>
  </div>
  <div>
    <div class="container shape-container d-flex">
      <div class="col px-0">
        <div class="row">
          <div class="col-lg-6">
<!--            <h1 class="display-3  text-white">Trip Organiser</h1>-->
            <img alt="logo" class="logo" src="../../../assets/logo_white.svg">
            <p class="lead  text-white">Easily create and plan your next and memorable trip</p>
            <div class="btn-wrapper">
              <a type="" class="btn btn-light" routerLink="/signup">
                Sign up Today!
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="three-rec-container">
    <div class="container">
      <div class="col">
        <div class="row">

          <div class="card" style="width: 18rem;">
            <img src="../../../assets/snowboarding.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title pricing-card-title">Plan group trips with ease</h3>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="../../../assets/greece.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title pricing-card-title">Ensure your next trip is a memorable trip</h3>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="../../../assets/beach.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title pricing-card-title">Keep every one organised</h3>
            </div>
          </div>

          <div class="container">
          </div>
          <div class="col">
            <div class="row col-3rd">

              <div class="col-md-6 img">
                <img src="../../../assets/media/trip_dashboard.PNG" alt="trip_dashboard">
              </div>
              <div class="col-md-6 text">
                <h3>Easy Trip Overview</h3>
                <ul>
                  <li>Create and manage checklists</li>
                  <li>Add and remove people joining you</li>
                </ul>
                <div class="btn-wrapper">
                  <a type="" class="btn btn-light" routerLink="/signup">
                    Sign up Today!
                  </a>
                </div>
              </div>

            </div>

            <div class="row col-3rd">

              <div class="col-md-6 text">
                <h3>Easy Location Overview</h3>
                <ul>
                  <li>Vote on places to go</li>
                  <li>Collaborate on lists</li>
                </ul>
                <div class="btn-wrapper">
                  <a type="" class="btn btn-light" routerLink="/signup">
                    Sign up Today!
                  </a>
                </div>
              </div>
              <div class="col-md-6 img">
                <img src="../../../assets/media/trip_dashboard2.png" alt="trip_dashboard">
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
