<div class="position-relative">
  <div class="section-shaped">

    <div class="home-body">
    </div>
  </div>

  <div>
    <div class="container shape-container d-flex">
      <div class="col px-0">
        <div class="row">
          <div class="col-lg-6"><h1 class="display-3  text-white">Trip Organiser</h1>
            <p class="lead  text-white">Easily create and plan your next and memorable trip</p>
            <div class="btn-wrapper">
              <a type="" class="btn mb-3 mb-sm-0 btn-icon btn-info"
                 href="https://demos.creative-tim.com/argon-design-system/docs/components/alerts.html"><span
                class="btn-inner--icon"><i class="fa fa-code"></i></span><span class="btn-inner--text">
                                    Sign up Today!
                                </span></a>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

