<mat-toolbar color="primary">

  <h1>
    <a routerLinkActive="mat-accent" mat-button routerLink="/">Trip Organiser</a>
  </h1>

  <span class="spacer"></span>

  <ul>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/home" routerLinkActive="mat-accent">My Trips</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>

</mat-toolbar>
