<div *ngIf="locationSelected">
  <mat-card class="example-card">

    <mat-card-header>
      <div mat-card-avatar class="example-header-image"
           [ngStyle]="{'background-image': 'url(https://source.unsplash.com/random/?' + locationSelected.title + ')'}"></div>
      <mat-card-title>{{ locationSelected.title }} <a routerLink="../edit" class="edit-btn"><i
        class="material-icons">
        edit
      </i></a></mat-card-title>
      <mat-card-subtitle><i
        class="material-icons">date_range</i> {{ locationSelected.startDate * 1000 | date:shortDate }}
        - {{ locationSelected.endDate * 1000 | date:shortDate }}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="locationSelected.stay"><i class="material-icons">place</i> {{locationSelected.stay}}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

<!--      Desktop mode -->
<!--      <div flex fxLayout="row">-->
<!--        <div fxFlex="45">-->
<!--          <app-restaurants></app-restaurants>-->
<!--        </div>-->
<!--        <div fxFlex="10"></div>-->
<!--        <div fxFlex="45">-->

<!--        </div>-->
<!--      </div>-->

      <mat-tab-group [selectedIndex]="tabIndex">
        <mat-tab label="Places to be">
        </mat-tab>
        <mat-tab label="Food to eat"><app-restaurants [locationID]="locationSelected._id"></app-restaurants></mat-tab>
        <mat-tab label="Third"> Content 3 </mat-tab>
      </mat-tab-group>


    </mat-card-content>
  </mat-card>
</div>
