<main>
  <div class="col-md-6 offset-md-3">

  <h2>Login</h2>
  <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">

      <mat-form-field>
        <label>
          <input placeholder="Email" #emailInput="ngModel" required type="email" ngModel matInput email name="email">
        </label>
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
      </mat-form-field>


      <mat-form-field>
        <label>
          <input matInput placeholder="Password" #passwordInput="ngModel" required type="password" ngModel password
                 name="password">
        </label>
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
      </mat-form-field>
      <div class="login-holder">
        <button *ngIf="!isLoading" mat-raised-button color="primary" type="submit">Login</button>
      </div>

    </form>
    <hr>
    <p><small>Don't have an account? <a routerLink="/signup">Sign up today!</a></small></p>
  </mat-card>
  </div>
</main>
