.spacer {
  flex: 1 1 auto;
}
.checklist-item {
  cursor: pointer;
  &:hover{
    color:red;
  }
  &.checkbox{
    //color: #FFD740;
    &:hover{
      color:#FFD740;
    }
  }
}
.list-group-item{
  display:flex;
}

.add-checklist-item{
  &:hover{
    background-color: aqua;
    cursor: pointer;
  }
}
.loading-image {
  width:10%;
}
.strike-through {
  p {
    text-decoration: line-through;
  }
}

form {
  width: 100%;
}
