<div class="card">
  <div class="card-header">
    Who's coming?
  </div>
  <ul class="list-group list-group-flush">

    <ng-container *ngIf="isLoading">
      <li class="list-group-item"> <img src="../../../../assets/loading.svg" /> </li>
 `   </ng-container>

    <ng-container *ngIf="!isLoading">
      <li *ngFor="let attendee of attendeeList" class="attendee-li list-group-item">
        <ng-container *ngIf="isLoadingUserActionID != attendee.id">
          {{attendee.firstName}} {{attendee.lastName}}
          <span class="spacer"></span>
          <i *ngIf="isLoadingUserActionID == null" (click)="onRemoveClick(attendee.id)" class="material-icons remove-btn">remove_circle</i>
        </ng-container>
        <ng-container *ngIf="isLoadingUserAction && isLoadingUserActionID == attendee.id">
          <img src="../../../../assets/loading.svg" />
        </ng-container>


      </li>
      <li *ngIf="!addAttendee" (click)="onAddAttendee()" class="list-group-item add-attendee">+ to the trip</li>
      <li *ngIf="addAttendee && !isLoadingNewUser && isLoadingUserActionID == null" class="list-group-item">

        <form (submit)="onAddEmail(attendeeForm)" #attendeeForm="ngForm">
          <div class="row">
            <div class="col-sm">
              <mat-form-field>
                <label>
                  <input placeholder="Email" #emailInput="ngModel" required type="email" ngModel matInput email name="email">
                </label>
                <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm">
              <button mat-raised-button color="primary" type="submit">Add</button>
            </div>
          </div>
        </form>
      </li>

      <li *ngIf="isLoadingNewUser" class="list-group-item"> <img src="../../../../assets/loading.svg" /> </li>

    </ng-container>

  </ul>
</div>
