
.attendee-li {
  text-transform: capitalize;
  display: flex;
}
.add-attendee {
  &:hover{
    background-color: aqua;
    cursor: pointer;
  }
}

img{
  width: 50px;
}

.spacer {
  flex: 1 1 auto;
}

.remove-btn{
  cursor: pointer;
  &:hover{
    color:red;
  }
}
