mat-toolbar {
    border-top: 2px solid black;
    // box-shadow: 20px 30px 40px rgba(0,0,0,.1);
    // box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.829) inset;
    // @media (min-width:768px) {
    //     display:none;
    // }
}
h2 {
    margin-bottom: 0px;
}
.spacer {
    flex: 1 1 auto;
}

.loading-image {
    width: 7%;
}


