h1 {
    margin-bottom: 0px;
}

.location-title {
    display: flex;
}
.edit-btn{
    margin: auto 0 0px 0;
}
.edit-btn{
    margin-left: 10px;
    margin-bottom: 2px;
    color:#000;
    &:hover{
        color:#FFD740;
        cursor: pointer;
    }
}