h1 {
    margin-bottom: 0px;
}

.location-title {
    display: flex;
}
.edit-btn{
    margin: auto 0 0px 0;
}
.edit-btn{
    margin-left: 10px;
    margin-bottom: 2px;
    color:#000;
    &:hover{
        color:#FFD740;
        cursor: pointer;
    }
}
mat-card-header{
  margin-bottom: 2rem;
}

.mat-card-avatar{
  height: 100px;
  width: 100px;
}
.example-header-image {
  //background-image: url('https://d36tnp772eyphs.cloudfront.net/blogs/1/2011/05/Tokyo-Japan-Akihabara-neon-cityscape-destinations-1200x900.jpg');
  background-size: cover;
}
